@charset "UTF-8";

html, body {
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
body {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .header-title {
        font-size: 25px;
        text-transform: uppercase;
    }
    .nav-list {
        list-style-type: none;
        padding: 0;
    }
        .nav-list li {
            display: inline-block;
        }
        .nav-list a { 
            text-decoration: none;
            color: white;
            padding: 10px;
            margin: 0 5px;
        }
        .nav-list a:hover { 
            text-decoration: none;
            color: rgb(0, 0, 0);
            background-color: azure;
            border-radius: 5px;
            transition: 0.4s;
        }
        a.nav-button {
            color: rgb(5, 5, 5);
            border-radius: 5px;
            background-color: rgb(157, 205, 13);
        }
        
.section-title {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}
.section-subtitle {
    text-transform: uppercase;
    font-size: 20px;
    align-self: flex-start;
    margin-left: 10px; 
}
.section-pricing {
    align-self: flex-start;
    font-size: 22px;
    margin-left: 10px; 

}
.card-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.card-item { 
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(50, 55, 50, 0.677);
    border-radius: 5px;
    flex-grow: 1;
    padding: 10px;
}
.card-item h2 {
    border-bottom: 1px solid green;
}
.card-item ul {
    padding: 0;
    font-size: 14px;
    color: rgb(199, 199, 199);
}
.button {
    display: block;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(157, 205, 13);
}
.button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(215, 215, 215);
    transition: 0.2s;
}